!!! 5
//if IE 8
  <html class="no-js ie8">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/main.css')
    script (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    //if IE 8
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')
  body
    .wrapper
      .section
        input(type='checkbox')
        | Some text here...
      .section
        input(type='radio')
        | Some text here...
      .section
        | Some text here...
        input(type='text', value='Some text here...')
        | Some text here...
        select(name='somename')
          option some option1
          option some option2
          option some option3
        | Some text here...

      button button
      input(type='submit', value='button')

      .section
        textarea(cols=10, rows=20) Some text here...
        | Some text here...
      .container
        blockquote Some text here...
        hr
        span Some text here...
        | Some text here...
        dl
          dt Some text here...
          dd Some text here...
        pre Some text here...
        menu Some text here...
        nav
          ul
            li
              a(href="#") Some text here...
        .nav-container
          ul.nav
            li
              a(href='#') Some text here...
            li
              a(href='#') Some text here...
            li
              a(href='#') Some text here...
        block content
    footer
    script(src='/js/main.js')